* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cascadia Code";
  min-height: 100vh;
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
}
header,
footer {
  background-color: rebeccapurple;
  padding: 1rem;
  margin: 0;
  border-radius: 10px;
  text-align: center;
  color: rgb(255, 118, 209);
}

main {
  max-height: max-content;
  max-width: min-content;
  background-color: white;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  width: max-content;
  height: max-content;
}

.about-section {
  /* display: flex;
  flex-direction: column; */
}

.profilePicture {
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;
  float: left;
  margin: 1rem;
  margin-right: 2rem;

  animation: pulse 2s infinite; /* Add the pulsing animation */
  border: 3px solid rebeccapurple;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rebeccapurple;
  }
  70% {
    box-shadow: 0 0 0 20px rgba(255, 118, 209, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 118, 209, 0);
  }
}

.shortBio,
.fullname,
.jobtitle {
  margin-top: 1rem;
}

.contact-section {
  clear: both;
  /* border: 2px solid rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
.socialLinks {
  display: block;
}
.socialLinks ul {
  list-style-type: none;
  display: flex;
}
.socialLinks li {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid rebeccapurple;

  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.socialLinks img {
  width: 30px;
  height: 30px;
}

.socialLinks a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.socialLinks li:hover {
  background-color: rebeccapurple;

  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}
.socialLinks a:hover {
  color: white;
}

.emailAddress,
.currentLocation {
  font-weight: bold;
}

.emailAddress a {
  color: rebeccapurple;
  text-decoration: none;
  font-size: 25px;
}
.emailAddress a:hover {
  color: lightpink;
  transform: scale(0.5);
  transform: scale(2);
  transition: all 0.5s ease-in;
}

.currentLocation {
  font-size: 20px;
  margin: 1rem;
  text-align: center;
}

footer {
  font-size: 20px;
}

@media (max-width: 640px) {
  main {
    max-width: max-content;
    height: max-content;
  }
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .jobtitle {
    text-align: center;
  }
  .shortBio {
    width: 90%;
  }
  .socialLinks h3 {
    text-align: center;
    margin: 1rem;
  }
  .socialLinks ul {
    flex-wrap: wrap;
  }
  .socialLinks li {
    flex-direction: row;
    width: 100%;
    border: none;
  }
}
